<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container">
    <form method="POST">
        <input name="email" value="{{ email }}" placeholder="Email" required>
        <input type="text" name="username" value="{{ username }}" placeholder="Username" required>
        <input type="password" name="password" value="{{ password }}" placeholder="Senha" required>
        <button type="submit">Registrar</button>
    </form>
</div>

</body>
</html>
